<footer class="bg-dark text-white p-4 mt-5">
  <div class="container text-center">
    <p>© 2025 EliteHomePainters. All rights reserved.</p>
    <p>Email: info@elitehomepainters.com | Phone: +64 123 456 789</p>
    <div>
      <a href="#" class="text-white me-3">Facebook</a>
      <a href="#" class="text-white me-3">Instagram</a>
      <a href="#" class="text-white">LinkedIn</a>
    </div>
  </div>
</footer>
